.select-display {
  position: relative;
  border-bottom: 1px solid var(--color-gray-300);
}

.select-display select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  border: none;
  background: none;
  padding: 4px 18px 6px 0;
  font-size: 16px;
  color: var(--color-text);
  outline: none;
}

.icon-arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--color-primary);
  pointer-events: none;
}
