.form-message,
.form-message-empty {
  min-height: 18px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.form-message-empty {
  visibility: hidden;
}

.form-message-error {
  color: var(--color-error);
}

.form-message-info {
  color: var(--color-success);
}

