.layout {
  display: flex;
  min-height: 100vh;
  background-color: #171717;
  color: #f9fafb;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.sidebar {
  width: 300px;
  background: #0D0D0D;
  padding: 24px 16px 32px 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sidebar-logo {
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 16px;
  padding-right: 25px;
}

.sidebar-logo img {
  width: 60px;
  height: auto;
  object-fit: contain;
}

.sidebar-title {
  width: 64px;
  height: 64px;
  border-radius: 20px;
  gap: 8px;
  font-size: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.sidebar-title img {
  width: 70%;
  height: auto;
  object-fit: contain;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #f97316;
  font-size: 14px;
  cursor: pointer;
}

.sidebar-icon {
  font-size: 25px;
}

.content {
  flex: 1;
  padding: 80px 20px 50px 90px;
}

.content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.content-header h2 {
  font-size: 22px;
  font-weight: 500;
}

/* BOTÃO CRIAR */
.btn-create {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border: none;
  background: transparent;
  color: #f97316;
  cursor: pointer;
  font-size: 14px;
}

.btn-create-circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #f97316;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

/* já existia, só mudar para wrap */
.products-grid {
  display: flex;
  gap: 24px;
  
  flex-wrap: wrap;           /* <- agora quebra linha automaticamente */
}

.product-wrapper {
  margin-bottom: 50px;
  width: 200px;
  height: 160px;
  background: #020617;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

