.layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--color-bg-900);
  color: var(--color-white);
}

.sidebar {
  width: 300px;
  background: var(--color-bg-700);
  padding: 24px 16px 32px 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sidebar-logo {
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 16px;
  padding-right: 25px;
}

.sidebar-logo img {
  width: 60px;
  height: auto;
  object-fit: contain;
}

.sidebar-title {
  width: 64px;
  height: 64px;
  border-radius: 20px;
  gap: 8px;
  font-size: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.sidebar-title img {
  width: 70%;
  height: auto;
  object-fit: contain;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-primary);
  font-size: 14px;
  cursor: pointer;
}

.sidebar-icon {
  font-size: 25px;
}

.content {
  flex: 1;
  padding: 80px 20px 50px 90px;
}

.content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.content-header h2 {
  font-size: 22px;
  font-weight: 500;
}

.btn-create {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border: none;
  background: transparent;
  color: var(--color-primary);
  cursor: pointer;
  font-size: 14px;
}

.btn-create-circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: var(--color-primary);
  color: var(--color-white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.products-grid {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.product-wrapper {
  margin-bottom: 50px;
  width: 200px;
  height: 160px;
  background: var(--color-bg-deep);
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    padding: 16px 20px;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    border-bottom: 1px solid var(--color-text);
  }

  .sidebar-logo {
    margin-bottom: 0;
    width: auto;
  }

  .sidebar-title {
    margin-bottom: 0;
    width: 50px;
    height: 50px;
    font-size: 18px;
  }

  .sidebar-item {
    margin-left: auto;
    font-size: 12px;
  }
  
  .products-grid {
    justify-content: center;
  }

}
