.product-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: var(--color-white);
  text-align: center;
}

.product-card-icon {
  position: absolute;
  width: 65%;
  object-fit: contain;
  object-position: center;
  z-index: 1;
  pointer-events: none;
}

.product-card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: 600;
  color: var(--color-white);
  z-index: 2;
}
