.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input {
  width: 100%;
  padding-right: 40px;
}

.password-toggle {
  position: absolute;
  right: 1px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.password-toggle svg {
  color: #333;
}

@media (max-width: 768px) {
  .password-input {
    font-size: 16px;
  }

  .password-toggle {
    right: 8px;
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .password-input {
    padding-right: 35px;
    font-size: 14px;
  }

  .password-toggle {
    right: 6px;
    font-size: 1rem;
  }
}
