.app {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

.appAside {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #030204;
}

.iconText {
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  gap: 8px; /* Espaço entre ícone e texto (opcional) */
}

header {
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center; /* opcional: centraliza verticalmente */
  width: 100%;
}

.appMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background-color: #fff;
  justify-content: space-between; /* empurra o rodapé para o fim */
}


.appContent {
  max-width: 400px;
  width: 100%;
  margin-bottom: 20%;
}

footer {
text-align: center;
font-size: 0.9rem;
opacity: 0.7;
}

.btn {
  margin-top: 1.5rem;
  padding: .8rem 1.2rem;
  border: 0;
  border-radius: .6rem;
  background: #0b1a3a;
  color: #fff;
  font-weight: 600;
}

@media (max-width: 900px) {
  .page {
    grid-template-columns: 1fr;
    grid-template-rows: 45vh 1fr;
  }

  .contentPane {
    align-items: center;
    text-align: center;
  }
}
